{% extends 'account/layouts/master.html' %}
{% load static %}
{% load widget_tweaks %}


{% block styles %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'account/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'account/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="{% static 'account/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
<!-- BS Stepper -->
<link rel="stylesheet" href="{% static 'account/plugins/bs-stepper/css/bs-stepper.min.css' %}">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="{% static 'account/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="{% static 'account/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<!-- Datetime Picker -->
<link rel="stylesheet" href="{% static 'account/plugins/datetime-picker/build/css/bootstrap-datetimepicker.min.css' %}" />

<style>
  .scorer-fields {
    display: none;
  }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="card-footer">
    <div id="match-detail">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Matches created by you:</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Match</th>
                    <th>Start time</th>
                    <th>League</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for match, status in matchs %}
                    <tr>
                      <td>{{match}}</td>
                      {% if status == "pending" %}
                        <td><span class="badge bg-warning">{{match.starts_at}}</span></td>
                      {% else %}
                        <td><span class="badge bg-success">{{match.starts_at}}</span></td>
                      {% endif %}
                      <td>{{match.league}}</td>
                      <td><a onclick="loadMatch({{match.pk}});"><span class="fas fa-arrow-circle-right"></span></a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                <li class="page-item"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
                {% endif %}
                </ul>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>

    <!-- Match edit section -->

    <div id="match-edit">
      {% if form.as_p %}
        <div class="row">
          <div class="col-12 col-sm-12">
            <!-- general form elements disabled -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Update match:</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
    
                <form method="post" enctype="multipart/form-data" action="{% url 'account:match_editor' request.resolver_match.kwargs.pk %}">
                  {% csrf_token %}
                  
                  <h5 style="color: rgb(95, 194, 255);">Match details:</h4>
                  <div class="row">
                    
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>League:</label>
                        {{form.league|add_class:"form-control"|attr:"style:width: 100%;"}}
                      </div>
                    </div>
    
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Home:</label>
                        {{form.home_team|add_class:"form-control"|attr:"style:width: 100%;"}}
                      </div>
                    </div>
    
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Away:</label>
                        {{form.away_team|add_class:"form-control"|attr:"style:width: 100%;"}}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">

                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Referee:</label>
                        {{form.referee|add_class:"form-control"|attr:"style:width: 100%;"}}
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Date and time of start:</label>
                        {{form.starts_at|add_class:"form-control"|attr:"type:text"|attr:"id:datetimepicker1"}}
                      </div>
                    </div>

                  </div>

                  <!-- Scorers section -->
                  <h5>Scorers:</h5>
                    
                  <div class="row">
                    {% for field in form %}
                        {% if "scorer_name_" in field.name %}
                          <div class="col-sm-4">
                            <div class="form-group">
                              <!-- <label>Home scorer:</label> -->
                              {{field|add_class:"form-control"|attr:"style:width: 100%;"}}
                            </div>
                          </div>

                        {% elif "scorer_count_" in field.name %}
                        
                        <div class="col-sm-4">
                          <div class="form-group">
                            {{field|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Count of goals ..."}}
                          </div>
                        </div>
                        
                        {% elif "scorer_time_" in field.name %}
                          
                          <div class="col-sm-4">
                            <div class="form-group">
                              {{field|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Time in minutes ..."}}
                            </div>
                          </div>
                        {% endif %}
                    {% endfor %}
                  </div>


                  <div id="buttons">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <button class="btn btn-block btn-success">Update Match</button>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <button class="btn btn-block btn-danger">Delete Match</button>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <button class="btn btn-block btn-info">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </form>
    
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'account/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'account/plugins/select2/js/select2.full.min.js' %}"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static 'account/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'account/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'account/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static 'account/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'account/dist/js/match_manager.js' %}"></script>
<!-- Bootstrap Switch -->
<script src="{% static 'account/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<!-- Boostrap -->
<script src="{% static 'account/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Datetime Picker -->
<script type="text/javascript" src="{% static 'account/plugins/datetime-picker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script>
  // Set Calendars
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });
</script>
{% endblock %}