{% extends 'league/layouts/master.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
          <h1>We provide the best <strong>guess league</strong><br>to fill up your <strong>free time</strong></h1>
          <p>Sila is a professional Soccer Information League designed by Automaticlly tools
            for having the best times in summer</p>
          <a href="#features" class="main-button-slider">Log in now!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12"
            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="{% static 'league/assets/images/featured-item-01.png' %}" alt=""></i>
              </div>
              <h5 class="features-title">Modern Strategy</h5>
              <p>Customize anything in this league by our high-level website</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->

          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12"
            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="{% static 'league/assets/images/featured-item-01.png' %}" alt=""></i>
              </div>
              <h5 class="features-title">Referee Automation</h5>
              <p>Go ahead and play unlimited with our autoations.</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->

          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12"
            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="{% static 'league/assets/images/featured-item-01.png' %}" alt=""></i>
              </div>
              <h5 class="features-title">Friendly space</h5>
              <p>You just need to tell your friends about our modern league</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="pricing-plans">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">League Tables</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Live score tables of three leagues, you can see here</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">Starter</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="currency">$</span>
              <span class="price">14.50</span>
              <span class="period">monthly</span>
            </div>
            <ul class="list">
              <li class="active">60 GB space</li>
              <li class="active">600 GB transfer</li>
              <li class="active">Pro Design Panel</li>
              <li>15-minute support</li>
              <li>Unlimited Emails</li>
              <li>24/7 Security</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="main-button">Purchase Now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->

      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
        <div class="pricing-item active">
          <div class="pricing-header">
            <h3 class="pricing-title">Premium</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="currency">$</span>
              <span class="price">21.50</span>
              <span class="period">monthly</span>
            </div>
            <ul class="list">
              <li class="active">120 GB space</li>
              <li class="active">1200 GB transfer</li>
              <li class="active">Pro Design Panel</li>
              <li class="active">15-minute support</li>
              <li>Unlimited Emails</li>
              <li>24/7 Security</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="main-button">Purchase Now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->

      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">Advanced</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="currency">$</span>
              <span class="price">42.00</span>
              <span class="period">monthly</span>
            </div>
            <ul class="list">
              <li class="active">250 GB space</li>
              <li class="active">5000 GB transfer</li>
              <li class="active">Pro Design Panel</li>
              <li class="active">15-minute support</li>
              <li class="active">Unlimited Emails</li>
              <li class="active">24/7 Security</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="main-button">Purchase Now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->
    </div>
  </div>
</section>
<!-- ***** Pricing Plans End ***** -->


<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <img src="{% static 'league/assets/images/left-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
        <div class="left-heading">
          <h2 class="section-title"> discuss about you project</h2>
        </div>
        <div class="left-text">
          <p>Nullam sit amet purus libero. Etiam ullamcorper nisl ut augue blandit, at finibus leo efficitur. Nam
            gravida purus non sapien auctor, ut aliquam magna ullamcorper.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hr"></div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-bottom-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
        <div class="left-heading">
          <h2 class="section-title">We can help you to grow your business</h2>
        </div>
        <div class="left-text">
          <p>Aenean pretium, ipsum et porttitor auctor, metus ipsum iaculis nisi, a bibendum lectus libero vitae urna.
            Sed id leo eu dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor elit.</p>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
        data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
        <img src="{% static 'league/assets/images/right-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
  <div class="mini-content">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="info">
            <h1>Last Results</h1>
            <p>The hast trhee live match results</p>
          </div>
        </div>
      </div>

      <!-- ***** Mini Box Start ***** -->
      <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="{% static 'league/assets/images/work-process-item-01.png' %}" alt=""></i>
            <strong>Get Ideas</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="{% static 'league/assets/images/work-process-item-01.png' %}" alt=""></i>
            <strong>Sketch Up</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="{% static 'league/assets/images/work-process-item-01.png' %}" alt=""></i>
            <strong>Discuss</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
      </div>
      <!-- ***** Mini Box End ***** -->
    </div>
  </div>
</section>
<!-- ***** Home Parallax End ***** -->

<!-- ***** Testimonials Start ***** -->
<section class="section" id="testimonials">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">Hey, Whats uo?</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Today Hot News!</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <!-- ***** Testimonials Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="team-item">
          <div class="team-content">
            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
            <p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus
              odio.</p>
            <div class="user-image">
              <!-- <img src="http://placehold.it/60x60" alt=""> -->
            </div>
            <div class="team-info">
              <h3 class="user-name">Catherine Soft</h3>
              <span>Managing Director</span>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Testimonials Item End ***** -->

      <!-- ***** Testimonials Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="team-item">
          <div class="team-content">
            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
            <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras
              maximus venenatis molestie.</p>
            <div class="user-image">
              <!-- <img src="http://placehold.it/60x60" alt=""> -->
            </div>
            <div class="team-info">
              <h3 class="user-name">Kelvin Wood</h3>
              <span>Digital Marketer</span>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Testimonials Item End ***** -->

      <!-- ***** Testimonials Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="team-item">
          <div class="team-content">
            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
            <p>Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante ultrices molestie.
              Ut vehicula et diam at aliquam.</p>
            <div class="user-image">
              <!-- <img src="http://placehold.it/60x60" alt=""> -->
            </div>
            <div class="team-info">
              <h3 class="user-name">David Martin</h3>
              <span>Website Manager</span>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Testimonials Item End ***** -->
    </div>
  </div>
</section>
<!-- ***** Testimonials End ***** -->


<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>126</strong>
            <span>Projects</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-top">
            <strong>63</strong>
            <span>Happy Clients</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>18</strong>
            <span>Awards Wins</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item">
            <strong>27</strong>
            <span>Countries</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Counter Parallax End ***** -->

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">Blog Entries</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras
            maximus venenatis molestie.</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-01.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Vivamus ac vehicula dui</a>
            </h3>
            <div class="text">
              Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis
              eros. Aliquam egestas augue.
            </div>
            <a href="#" class="main-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-02.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Phasellus convallis augue</a>
            </h3>
            <div class="text">
              Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis,
              vel ultrices sapien mattis.
            </div>
            <a href="#" class="main-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-03.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Nam gravida purus non</a>
            </h3>
            <div class="text">
              Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut
              tempus enim varius eu.
            </div>
            <a href="#" class="main-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Blog End ***** -->
{% endblock %}