{% extends 'account/layouts/master.html' %}
{% load static %}
{% load widget_tweaks %}


{% block styles %}
<!-- Select2 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="{% static 'account/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="{% static 'account/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
<link rel="stylesheet" href="{% static 'account/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="{% static 'account/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<!-- Datetime Picker -->
<link rel="stylesheet" href="{% static 'account/plugins/datetime-picker/build/css/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="card-footer">
    <div class="row">
      <div class="col-12 col-sm-12">
        <!-- general form elements disabled -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create Match</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              
              <h5 style="color: rgb(95, 194, 255);">Match details:</h4>
              <div class="row">
                
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>League:</label>
                    {{form.league|add_class:"form-control"|attr:"style:width: 100%;"}}
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Home:</label>
                    {{form.home_team|add_class:"form-control"|attr:"style:width: 100%;"}}
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Away:</label>
                    {{form.away_team|add_class:"form-control"|attr:"style:width: 100%;"}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Referee:</label>
                    {{form.referee|add_class:"form-control"|attr:"style:width: 100%;"}}
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Date and time of start:</label>
                    {{form.starts_at|add_class:"form-control"|attr:"type:text"|attr:"id:datetimepicker1"}}
                  </div>
                </div>
              </div>

              <!-- Upload pictures -->

              <!-- Speed pictures -->

              <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                  <input type="checkbox" id="speedPicsEnabledCheck" onclick="showStatusChanger('speedPicsSection', 'speedPicsEnabledCheck');">
                  <label for="speedPicsEnabledCheck">Speed pictures enabled</label>
                </div>
              </div>

              <div class="speed-pics" style="display: none;" id="speedPicsSection">
                <h5 style="color: rgb(95, 194, 255);">Upload speed pictures:</h4>
                <div class="row">

                  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.speed_img_one|add_class:"custom-file-input"|attr:"id:searchLoadPics1"}}
                          <label class="custom-file-label" for="searchLoadPics1">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.speed_img_one_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.speed_img_two|add_class:"custom-file-input"|attr:"id:searchLoadPics2"}}
                          <label class="custom-file-label" for="searchLoadPics2">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.speed_img_two_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.speed_img_three|add_class:"custom-file-input"|attr:"id:searchLoadPics3"}}
                          <label class="custom-file-label" for="searchLoadPics3">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.speed_img_three_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.speed_img_four|add_class:"custom-file-input"|attr:"id:searchLoadPics4"}}
                          <label class="custom-file-label" for="searchLoadPics4">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.speed_img_four_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>
              </div>

              <!-- Power pictures -->

              <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                  <input type="checkbox" id="powerPicsEnabledCheck" onclick="showStatusChanger('powerPicsSection', 'powerPicsEnabledCheck');">
                  <label for="powerPicsEnabledCheck">Power pictures enabled</label>
                </div>
              </div>

              <div class="power-pics" style="display: none;" id="powerPicsSection">
                <h5 style="color: rgb(95, 194, 255);">Upload power pictures:</h4>
                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.power_img_one|add_class:"custom-file-input"|attr:"id:searchLoadPics1"}}
                          <!-- <input type="file" multiple id="speedLoadPics1"> -->
                          <label class="custom-file-label" for="searchLoadPics1">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.power_img_one_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.power_img_two|add_class:"custom-file-input"|attr:"id:searchLoadPics2"}}
                          <!-- <input type="file" multiple id="speedLoadPics2"> -->
                          <label class="custom-file-label" for="searchLoadPics2">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.power_img_two_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.power_img_three|add_class:"custom-file-input"|attr:"id:searchLoadPics3"}}
                          <!-- <input type="file" multiple id="speedLoadPics3"> -->
                          <label class="custom-file-label" for="searchLoadPics3">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.power_img_three_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.power_img_four|add_class:"custom-file-input"|attr:"id:searchLoadPics4"}}
                          <!-- <input type="file" multiple id="speedLoadPics4"> -->
                          <label class="custom-file-label" for="searchLoadPics4">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.power_img_four_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>
              </div>

              <!-- Info pictures -->

              <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                  <input type="checkbox" id="infoPicsEnabledCheck" onclick="showStatusChanger('infoPicsSection', 'infoPicsEnabledCheck');">
                  <label for="infoPicsEnabledCheck">Info pictures enabled</label>
                </div>
              </div>

              <div class="info-pics" style="display: none;" id="infoPicsSection">
                <h5 style="color: rgb(95, 194, 255);">Upload info pictures:</h4>
                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.info_img_one|add_class:"custom-file-input"|attr:"id:infoLoadPics1"}}
                          <label class="custom-file-label" for="infoLoadPics1">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.info_img_one_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.info_img_two|add_class:"custom-file-input"|attr:"id:infoLoadPics2"}}
                          <label class="custom-file-label" for="infoLoadPics2">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.info_img_two_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.info_img_three|add_class:"custom-file-input"|attr:"id:infoLoadPics3"}}
                          <label class="custom-file-label" for="infoLoadPics3">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.info_img_three_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.info_img_four|add_class:"custom-file-input"|attr:"id:infoLoadPics4"}}
                          <label class="custom-file-label" for="infoLoadPics4">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.info_img_four_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                </div>
              </div>
              <!-- Search pictures -->

              <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                  <input type="checkbox" id="searchPicsEnabledCheck" onclick="showStatusChanger('searchPicsSection', 'searchPicsEnabledCheck');">
                  <label for="searchPicsEnabledCheck">Search pictures enabled</label>
                </div>
              </div>

              <div class="search-pics" style="display: none;" id="searchPicsSection">
                <h5 style="color: rgb(95, 194, 255);">Upload search pictures:</h4>
                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.search_img_one|add_class:"custom-file-input"|attr:"id:searchLoadPics1"}}
                          <label class="custom-file-label" for="searchLoadPics1">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.search_img_one_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.search_img_two|add_class:"custom-file-input"|attr:"id:searchLoadPics2"}}
                          <label class="custom-file-label" for="searchLoadPics2">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.search_img_two_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.search_img_three|add_class:"custom-file-input"|attr:"id:searchLoadPics3"}}
                          <label class="custom-file-label" for="searchLoadPics3">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.search_img_three_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.search_img_four|add_class:"custom-file-input"|attr:"id:searchLoadPics4"}}
                          <label class="custom-file-label" for="searchLoadPics4">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.search_img_four_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                </div>
              </div>
              <!-- Legend pictures -->

              <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                  <input type="checkbox" id="legendPicsEnabledCheck" onclick="showStatusChanger('legendPicsSection', 'legendPicsEnabledCheck');">
                  <label for="legendPicsEnabledCheck">Legend pictures enabled</label>
                </div>
              </div>

              <div class="legend-pics" style="display: none;" id="legendPicsSection">
                <h5 style="color: rgb(95, 194, 255);">Upload legend pictures:</h4>
                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.legend_img_one|add_class:"custom-file-input"|attr:"id:legendLoadPics1"}}
                          <label class="custom-file-label" for="legendLoadPics1">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.legend_img_one_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.legend_img_two|add_class:"custom-file-input"|attr:"id:legendLoadPics2"}}
                          <label class="custom-file-label" for="legendLoadPics2">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.legend_img_two_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.legend_img_three|add_class:"custom-file-input"|attr:"id:legendLoadPics3"}}
                          <label class="custom-file-label" for="legendLoadPics3">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.legend_img_three_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          {{form.legend_img_four|add_class:"custom-file-input"|attr:"id:legendLoadPics4"}}
                          <label class="custom-file-label" for="legendLoadPics4">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{form.legend_img_four_name|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Persian first or last name ..."}}
                    </div>
                  </div>
                
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <button class="btn btn-block btn-success btn-lg">Create Match</button>
                </div>
              </div>

            </form>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static 'account/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'account/plugins/moment/moment.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
<!-- bootstrap color picker -->
<script src="{% static 'account/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- Boostrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<!-- Datetime Picker -->
<script type="text/javascript" src="{% static 'account/plugins/datetime-picker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script>
  speedPicsCheckBox = document.getElementById('speedPicsEnabledCheck');
  speedPicsCheckBox.checked = false;
  
  powerPicsCheckBox = document.getElementById('powerPicsEnabledCheck');
  powerPicsCheckBox.checked = false;

  infoPicsCheckBox = document.getElementById('infoPicsEnabledCheck');
  infoPicsCheckBox.checked = false;
  
  searchPicsCheckBox = document.getElementById('searchPicsEnabledCheck');
  searchPicsCheckBox.checked = false;
  
  legendPicsCheckBox = document.getElementById('legendPicsEnabledCheck');
  legendPicsCheckBox.checked = false;

  function showStatusChanger(elementId, checkBoxId) {
    if (document.getElementById(checkBoxId).checked) {
      document.getElementById(elementId).style.display = 'block';
    } else {
      document.getElementById(elementId).style.display = 'none';
    }
  }

  
  $(function () {
      $('#datetimepicker1').datetimepicker({
        format : "YYYY-MM-DD HH:mm",
      });
  });


</script>
{% endblock %}