{% extends 'account/layouts/master.html' %}
{% load static %}
{% load widget_tweaks %}


{% block styles %}
<!-- Select2 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="{% static 'account/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
<!-- BS Stepper -->
<link rel="stylesheet" href="{% static 'account/plugins/bs-stepper/css/bs-stepper.min.css' %}">
<!-- dropzonejs -->
<link rel="stylesheet" href="{% static 'account/plugins/dropzone/min/dropzone.min.css' %}">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/css/bootstrap-colorpicker.min.css">
<!-- Datetime Picker -->
<link rel="stylesheet" href="{% static 'account/plugins/datetime-picker/build/css/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="card-footer">
    <div id="select-user">
      <div class="row">
        <div class="col-12 col-sm-12">


          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Select Target User:</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <select id="user-list" class="form-control select2 select2-danger"
                  data-dropdown-css-class="select2-danger" style="width: 100%;">
                  <option selected="selected">--Select--</option>
                  {% for user in users %}
                  <option>{{user.pk}}: {{user.get_full_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="button" class="btn btn-block btn-primary" onclick="loadUser();">Get User</button>
              <!-- /.form-group -->
            </div>
          </div>


        </div>

      </div>
    </div>
    <div id="infos">
    {% if form.as_p %}
    <div class="row">
      <div class="col-12 col-sm-12">
        <!-- general form elements disabled -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">General Elements</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <form method="post" enctype="multipart/form-data" action="{% url 'account:user_update' request.resolver_match.kwargs.pk %}">
              {% csrf_token %}
              <h4 style="color: cornsilk;">Personal Informations</h4>
              <div class="row">

                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>First Name</label>
                    {{form.first_name|add_class:"form-control"|attr:"placeholder:First Name"}}
                    <!-- <input type="text" class="form-control" placeholder="First Name"> -->
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Last Name</label>
                    {{form.last_name|add_class:"form-control"|attr:"placeholder:Last Name"}}
                    <!-- <input type="text" class="form-control" placeholder="Last Name"> -->
                  </div>
                </div>
              </div>
              
              <div class="row">
                
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Email</label>
                    {{form.email|add_class:"form-control"|attr:"placeholder:Email"}}
                    <!-- <input type="text" class="form-control" placeholder="Email"> -->
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Telegram Username</label>
                    {{form.user_telegram_id|add_class:"form-control"|attr:"placeholder:Telegram Username"}}
                    <!-- <input type="text" class="form-control" placeholder="Telegram Username"> -->
                  </div>
                </div>
              </div>
              
              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputFile">Gravatar</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        {{form.profile_picture|add_class:"custom-file-input"|attr:"id:exampleInputFile"}}
                        <!-- <input type="file" class="custom-file-input" id="exampleInputFile"> -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              
              <h4 style="margin-top: 15px; color: cornsilk;">Depriving Status</h4>
              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-check">
                      {{form.is_banned|add_class:"form-check-input"}}
                      <!-- <input class="form-check-input" type="checkbox"> -->
                      <label class="form-check-label">Banned</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Ban Date:</label>
                    {{form.banned_date|add_class:"form-control"|attr:"type:text"|attr:"id:datetimepicker1"}}
                  </div>
                  
                  <!-- textarea -->
                  <div class="form-group">
                    <label>Ban Reason</label>
                    {{form.ban_reason|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Type Reason ..."}}
                    <!-- <textarea class="form-control" rows="3" placeholder="Type Reason ..."></textarea> -->
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-check">
                      {{form.is_deprived|add_class:"form-check-input"}}
                      <!-- <input class="form-check-input" type="checkbox"> -->
                      <label class="form-check-label">Deprived</label>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label>Deprive Date:</label>
                      {{form.deprived_date|add_class:"form-control"|attr:"type:text"|attr:"id:datetimepicker2"}}
                      <!-- <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate2"/> -->
                  </div>
                  
                  <div class="form-group">
                    <label>Deprive Reason</label>
                    {{form.deprived_reason|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Type Reason ..."}}
                    <!-- <textarea class="form-control" rows="3" placeholder="Type Reason ..."></textarea> -->
                  </div>
                </div>
                
              </div>

              <h4 style="margin-top: 15px; color: cornsilk;">League Status</h4>
              <div class="row">

                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="form-check">
                      {{form.is_admin|add_class:"form-check-input"}}
                      <!-- <input class="form-check-input" type="checkbox"> -->
                      <label class="form-check-label">Admin</label>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="form-check">
                      {{form.is_captain|add_class:"form-check-input"}}
                      <!-- <input class="form-check-input" type="checkbox"> -->
                      <label class="form-check-label">Captain</label>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="form-check">
                      {{form.is_referee|add_class:"form-check-input"}}
                      <!-- <input class="form-check-input" type="checkbox"> -->
                      <label class="form-check-label">Referee</label>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="form-check">
                      {{form.is_reporter|add_class:"form-check-input"}}
                      <!-- <input class="form-check-input" type="checkbox"> -->
                      <label class="form-check-label">Reporter</label>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Red Cards</label>
                    {{form.red_cards|add_class:"form-control"|attr:"placeholder:Red Cards"}}
                    <!-- <input type="text" class="form-control" placeholder="Red Cards"> -->
                  </div>
                </div>
                
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Yellow Cards</label>
                    {{form.yellow_cards|add_class:"form-control"|attr:"placeholder:Yellow Cards"}}
                    <!-- <input type="text" class="form-control" placeholder="Yellow Cards"> -->
                  </div>
                </div>
                
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Season Goals</label>
                    {{form.season_goals|add_class:"form-control"|attr:"placeholder:Season Goals"}}
                    <!-- <input type="text" class="form-control" placeholder="Season Goals"> -->
                  </div>
                </div>
                
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Total Goals</label>
                    {{form.total_goals|add_class:"form-control"|attr:"placeholder:Total Goals"}}
                    <!-- <input type="text" class="form-control" placeholder="Total Goals"> -->
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Played Matchs</label>
                    {{form.played_matchs|add_class:"form-control"|attr:"placeholder:Played Matchs"}}
                    <!-- <input type="text" class="form-control" placeholder="Played Matchs"> -->
                  </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Team</label>
                    {{form.team|add_class:"form-control"}}
                    <!-- <select class="form-control">
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select> -->
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Player Character</label>
                    {{form.player_character|add_class:"form-control"|attr:"placeholder:Player Character"}}
                    <!-- <input type="text" class="form-control" placeholder="Player Character"> -->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <button class="btn btn-block btn-success btn-lg">Update</button>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <button class="btn btn-block btn-danger btn-lg" onclick="cancelUpdateUser();">Cancel</button>
                  </div>
                </div>
              </div>

            </form>
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script src="{% static 'account/plugins/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static 'account/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'account/plugins/moment/moment.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
<!-- bootstrap color picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/js/bootstrap-colorpicker.min.js"></script>
<!-- Custom JS -->
<script src="{% static 'account/dist/js/select_user.js' %}"></script>
<!-- Boostrap -->
<script src="{% static 'account/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Datetime Picker -->
<script type="text/javascript" src="{% static 'account/plugins/datetime-picker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}